{% if is_granted('ROLE_USER') %}
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="#"><i class="fa fa-fw fa-dashboard"></i> Accueil</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Personnage</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-desktop"></i> Travail</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-table"></i> Messagerie</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-edit"></i> Ville</a>
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-fw fa-file"></i> Blog </a>
                    </li>
                </ul>
            </div>
{% else %}
    <div class="collapse navbar-collapse navbar-ex1-collapse nav navbar-nav side-nav" style="color: white; text-align: center;">
        <h2>Bienvenue</h2>
        <p> Si c'est ta premier fois ici tu peux t'incrire </p>
        <a  class="btn btn-toolbar btn-default" href="./register">Inscription</a>

    </div>
    
{% endif %}
