{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">               
                <div class="panel-title">Poste</div>
                               
            </div>    
            <div class="panel-body">
                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-green">
            <div class="panel-heading">               
                <div class="panel-title">Contact</div>
                               
            </div>
            <div class="panel-body">
                <button class="pull-right btn btn-default">Mp Supérieur</button>
                <button class="pull-right btn btn-default">Démissionné</button>
            </div>
        </div>
    </div>
        
{% endblock %}
