{% extends 'base.html.twig' %}

{% block body %}
     
    {% block title %}
        <h2>RoleBot</h2>
    {% endblock %}
    <div class="container">
        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
    </div>        
{% endblock %}  
